@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #18181b;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #18181b;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
    border-radius: 20px;
}
